.app {
    display: grid;
    place-items: center;
}

.app__header {
    width: 80vw;
    padding: 0.5%;
    border-bottom: 1px solid gray;
}

.app__header > h2 {
    font-weight: 800;
    font-size: 37px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.app__body  {
    padding: 2%;
}